/*Ben Bordwell assignment 7.2 style sheet 2/11/2022 */

body {
    margin: 0;
    font-family: "Oswald", Verdana, Arial, sans-serif;
}

header {
    background-color: #3c275a;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    overflow: hidden;
    background-color: #4F3674;
    border-bottom: 15px;
    border-color: #D6A800;
    border-bottom-style: solid;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

footer {
    background-color: #3c275a;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

footer a {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

